h1, h2, h3, h4, h5, p, ul, li , b {
  font-family: "Varela Round", sans-serif;
}

.logo {
  max-width: 50%;
}

.ft_logo {
  width: 6em;
  height: auto;
}

body {
  background-color: #22215b;
}

.hacktx-yellow {
  background-color: #FFE62C;
}

.hacktx-orange {
  background-color: #E67300;
}

.hacktx-blue {
	background-color: #124E78;
}

.hacktx-blue-text {
  color: #124E78;
}

.hacktx-blue-dark {
  background-color: #0D3959;
}

.hacktx-purple {
  background-color: #22215b;
}

.hacktx-red {
  background-color: #CC0019;
}

.hacktx-pink {
  background-color: #E60073;
}

.hacktx-red-text {
  color: #CC0019;
}

.hacktx-pink-text {
  color: #E60073;
}

.hacktx-orange-text {
  color: #E67300;
}

.faq-list li {
  list-style-type: disc;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.header-negative-bounds {
  margin-bottom: -100px;
}

.links-container {
  display: inline-block;
}

.link-container {
  color: white;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

.link-container i {
  font-size: 2em;
}

.link-container p {
  margin-top: 0px;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}